/*JobSeeker Login page*/

body {
    background-color: #FFE194;
    font-family: 'Rockwell', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #E8F6EF;
    margin: 25px 25px;
    -webkit-font-smoothing: antialiased;
}

.container {
    padding: 15px;
    background-color: #4C4C6D;
    line-height: 1.5;
}

.form-group {
    padding: 15px;
}

.custom-button {
    background-color: #1B9C85;
    border-color: #FFE194;
    color: #E8F6EF;
    padding: 10px;
}

.custom-button:hover {
    background-color:#FFE194;
    border-color: #E8F6EF;
    color: #0a0a0a;

}

.register {
    color: #E8F6EF;

}

.link {
    color: hotpink;
}

a:hover {
    color: #FFE194;
}

