body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #4C4C6D;
    border-bottom: 1px solid black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.nav-items {
    display: flex;
    column-gap: 20px;
}



