body {
    background-color: #1B9C85;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: #FFE194;
    border-bottom: 1px solid black;
    color: #E8F6EF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.nav-items {
    display: flex;
    column-gap: 20px;
    font-size: 20px;
    font-family: Rockwell, sans-serif;
    color: #E8F6EF;

}
.nav-brand {
    color: #E8F6EF;
    font-size: 50px;

}



