
.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #1B9C85;
}

.row {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.register-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    width: 70%;
}

.form-el {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.submit-btn {
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 3px 8px 0;
    margin-top: 10px;
    cursor: pointer;
}

.form-el > input {
    border: 1px solid black;
    height: 35px;
    border-radius: 6px;
    font-size: 15px;
}