*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
input, button, textarea, select {
    font: inherit;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
table{
    border-collapse: collapse;
}
textarea{
    white-space: revert;
}
::placeholder{
    color: unset;
    font: inherit;
}
a, a:visited{
    text-decoration: none;
    color: unset;
}
button{
    cursor: pointer;
}
.page-wrapper {
    min-height: 100vh;
    display: flex;
}

.page-wrapper.all-centered {
    justify-content: center;
    align-items: center;
}