/*//CSS for searchpage//*/
/* Reset some default styles */

body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Rockwell, sans-serif;
    color: #E8F6EF;
}

/* Page layout styles */
.page-wrapper {
    width: 50%;
    margin: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.row {
    width: 100%;
}

.column {
    width: 100%;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #1B9C85 ;
    color: #E8F6EF;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #1B9C85;
}

/* Search results styles */
h2 {
    margin-top: 20px;
}

p {
    margin-bottom: 10px;
}
