/*JobSeeker Login page*/

body {
    background-color: darkslategrey;
    font-family: 'Rockwell', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: darkseagreen;
    -webkit-font-smoothing: antialiased;
}

.form-group {
    color: white;
}

.btn {
    background-color: darkseagreen;
}

.register {
    color: white;
}

.link {
    color: white;
}

